<h3>Créditos</h3>
El autor del proyecto es Adrià Velardos! ;)
<img src="http://www.boing.es/sites/boinges/files/styles/featured_promo_large/public/11_14_PERSONAJES_WEB_STEVEN_UNIVERSE_STEVEN_BOING_1.png?itok=VGLD2HIb"></img>